
.header {
  margin: 15px;
  border-bottom: solid 1px #dddddd;
}
.header .row {
  padding: 10px 0;
}
.header .row .title {
  color: rgba(0, 0, 0, 0.85);
}
.content {
  padding: 0 15px;
}
.content .line {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.content .question .desc,
.content .answer .desc {
  font-size: 16px;
  color: #333333;
}
.content .question .select,
.content .answer .select {
  display: flex;
  font-size: 13px;
  color: #333333;
}
.content .question .select span,
.content .answer .select span {
  flex: 20%;
}
.content .question .picture,
.content .answer .picture {
  display: flex;
  justify-content: start;
}
.content .question .picture img,
.content .answer .picture img {
  width: 100px;
  height: 100px;
  padding: 0 5px;
}
.content .question .title,
.content .answer .title {
  font-size: 18px;
  color: #DDDDDD;
}
.tool {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  position: absolute;
  bottom: 0;
  background: white;
  border: 1px solid #DDDDDD;
}
.tool .btns button {
  margin-left: 8px;
}
